{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Brands</h3>
	<div class="row">
		{% if brands %}
		{% for brand in brands %}
			<div class="col-md-3 mb-4">
				<div class="card shadow">
					<a href="{% url 'brand_product_listPage' brand.id %}">
						{% if brand.product_set.first and brand.product_set.first.productattribute_set.first and brand.product_set.first.productattribute_set.first.image %}
							<img src="{{ brand.product_set.first.productattribute_set.first.image.url }}" class="card-img-top" alt="{{ brand.title }}">
						{% else %}
							<img src="/static/default.jpg" class="card-img-top" alt="No Image Available">
						{% endif %}
					</a>
					<div class="card-body">
						<h6 class="card-text"><a href="{% url 'brand_product_listPage' brand.id %}">{{ brand.title }}</a></h6>
					</div>
				</div>
			</div>
		{% endfor %}
	{% endif %}
	
		
	</div>
</main>
{% endblock %}
